*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-sarif;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #d3d3d3;
}



.profile {
    position:absolute;
    width:100%;
    height:100%;
    margin-top: 40px;
    padding-left: 10%;
    padding-right: 20%;
    overflow:hidden;
    text-align: center;
    background-color: white;
}


.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:1px solid #f7049a; ;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-image #avatar {
    width: 100%;
    height: 100%;
}

form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 238px;
    padding: 0 10px;
}

.form-group {
    width:50%;
    height: 30px;
    background: white;
    border-radius: 50px;
    display:flex;
    align-items:center;
    padding: 25px;
    border: 2px solid #f7049a;  
}

.form-group ::placeholder {
  color:black;
      
}

.form-group input{
    flex:5;
    background:white;
    border: none;
    outline:none;
    width: 100px;
    font-size: 18px;
    font-weight:600;
    color:black;
}

.form-group i{
    flex:1;
    text-align:center;
    color:black;
    font-size: 18px;
}

#file-input {
    display: none;
    
}

.upload-button {
    background:linear-gradient(315.01deg, #f7049a, #7615aa);
    color:white;
    font-size: 18px;
    border-radius: 50px;
    margin: 10px 0;
    width: 150px;
    height:40px;
    border: none;
    cursor:pointer;
    padding: 11px;
}

.profile h2{
    margin-top: 40px;
    margin-bottom: 10px ;
    color:#7615aa;
}
#user-info {
   
    margin-top: 20px;
    color: #f7049a;
}

.btn{
    background:linear-gradient(315.01deg, #f7049a, #7615aa);
    color:white;
    font-size: 18px;
    border-radius: 50px;
    margin: 10px 0;
    width: 150px;
    height:40px;
    border: none;
    cursor:pointer;
    padding: 11px;
}



/* media query for profile form page*/

  @media screen and (max-width: 600px){
    .form-group input{
      font-size: 12px;
    }

    .form-group {
      width:90%;
      padding: 15px;
    }

    .form-group i{
      flex:1;
      font-size: 10px;
    }

    .profile h2{
      margin-top: 15px;
      margin-bottom: 8px ;
      margin-left: 2px;
      
    }

    .profile {
      position:fixed;
      width:100%;
      height:100%;
      margin-top:60px;
      margin-bottom: 30px;
      padding-left: 15%;
      padding-right: 15%;
  }

    .home-section{
      margin-right: 10px;
    }

    .upload-button {
      
      font-size: 15px;
      border-radius: 50px;
      margin: 10px 0;
      width: 100px;
      height:40px;
      padding: 11px;
    }

    .btn{
      
      font-size: 15px;
      border-radius: 50px;
      margin: 10px 0;
      width: 100px;
      height:40px;
      padding: 11px;
  }

    .profile-image {
        width: 75px;
        height: 75px;
        border-radius: 35px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
  } 

  .profile-image #avatar {
      width: 75px;
      height:75px;
      object-fit: cover; 
      padding:unset;
  }
  nav .sidebar-button i {
    font-size: 25px;
    margin-right: 10px;
  }

  
}

/* chat container light mode */

:root {
  --text-color: #FFFFFF;
  --icon-color: #fffcfc;
  --placeholder-color: #fefbfb;
  --outgoing-chat-bg: #000000;
  --incoming-chat-bg: #0e131d;
  --outgoing-chat-border: #0e131d;
  --incoming-chat-border: #0e131d; 
}

.light-mode {
  --text-color: rgb(0, 0, 0);
  --icon-color: #000000;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #e7d8d8;
  --outgoing-chat-bg: #ffffff;
  --incoming-chat-bg: #fff8f8;
  --outgoing-chat-border: #000000;
  --incoming-chat-border: #b0a7a7;
}


/* sidebar styling */

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  background: linear-gradient(315.01deg, #f7049a, #7615aa);
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}


.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 22px;
  font-weight: 550;
  margin-left: 30px;
  
}

.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.card img{
  margin-top: 20px;
   border-radius: 100%;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #010101;
}

.sidebar .nav-links li a:hover {
  background: #000000;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position:absolute;
  bottom: 0;
  width: 100%;
}

 /*  home section styling */

.home-section {
  position: relative;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
  position: fixed;
}


.home-section nav {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  transition: all 0.5s ease;
}

.sidebar.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: white;
} 


.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #7615aa;
  /* margin-left: 5px; */
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

button {
  padding: 10px 20px;
  margin: 0 1px;
  background: linear-gradient(315.01deg, #f7049a, #7615aa);
  border-radius: 20px;
  color: white;
  font-size: 18px;
  border: none;
 
}

/* media queryu for sidebar */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    width: calc(100% - 220px);
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}


  
 